{% extends 'base.html' %}

{% load static %}
{% block bootstrap5_title %}Detalle Tarea{% endblock %}
{% block body_class %}task-detail-page{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <!-- Card con detalles de la tarea -->
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white">
                    <h5 class="card-title mb-0">Detalle Tarea</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>N°:</strong> {{ task.id }}</li>
                        <li class="list-group-item"><strong>Título:</strong> {{ task.title }}</li>
                        <li class="list-group-item"><strong>Descripción:</strong> {{ task.description }}</li>
                        <li class="list-group-item"><strong>Prioridad:</strong> {{ task.get_priority_display }}</li>
                        <li class="list-group-item"><strong>Fecha Límite:</strong> {{ task.deadline }}</li>
                        <li class="list-group-item"><strong>Completada:</strong> {% if task.status %}Sí{% else %}No{% endif %}</li>
                        <li class="list-group-item"><strong>Fecha Creación:</strong> {{ task.created }}</li>
                        <li class="list-group-item"><strong>Fecha Modificación:</strong> {{ task.updated }}</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'task-update' task.pk %}" class="btn btn-warning me-2">Actualizar Tarea</a>
                    <a href="" class="btn btn-danger deleteTaskBtn"  data-url="{% url 'task-delete' task.pk %}">Eliminar Tarea</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script type="text/javascript" src="{% static 'core/js/alerts.js' %}"></script>
{% endblock %}
