{% extends 'base.html' %}

{% load static %}
{% load form_tags %}
{% block bootstrap5_title %}Update Task{% endblock %}
{% block body_class %}task-update-page{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center"> 
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white">
                    <h5>Update Task</h5>
                </div>
                <div class="card-body">
                    <form id="taskUpdateForm" method="POST" action="{% url 'task-update' task.pk %}">
                        {% csrf_token %}
                
                        <div class="mb-3">
                            {% comment %} {{ form.title.label_tag}} {% endcomment %}
                            {{ form.title.label }}
                            {{ form.title|add_class:"form-control" }}
                            {% if form.title.errors %}
                                {% for error in form.title.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.description.label }}
                            {{ form.description|add_class:"form-control" }}
                            {% if form.description.errors %}
                                {% for error in form.description.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.priority.label }}
                            {{ form.priority|add_class:"form-control" }}
                            {% if form.priority.errors %}
                                {% for error in form.priority.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.deadline.label }}
                            {{ form.deadline|add_class:"form-control" }}
                            {% if form.deadline.errors %}
                                {% for error in form.deadline.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-3 form-check">        
                            {{ form.status }}
                            <label class="form-check-label" for="status">{{ form.status.label }}</label>
                        </div>
                        {% comment %} <button type="submit" class="btn btn-primary">Update Task</button> {% endcomment %}
                        <button type="button" class="btn btn-warning" id="confirmUpdateBtn">Update Task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script type="text/javascript" src="{% static 'core/js/alerts.js' %}"></script>
{% endblock %}


