<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
</head>
<body>
    <a href="{% url 'task-create' %}" class="btn btn-primary">Add Task</a>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Prioridad</th>
                <th>Fecha Límite</th>
                <th>Completada</th>                
                <th>Fecha de creación</th>
                <th>Fecha de edición</th>
                <th>Acciones</th>                
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <div>
                    <tr>
                        <td>{{task.title}}</td>
                        <td>{{task.description}}</td>
                        <td>{{task.get_priority_display}}</td>                        
                        <td>{{task.deadline}}</td>
                        <td>{{task.status}}</td>
                        <td>{{task.created}}</td>
                        <td>{{task.updated}}</td>
                        <td><a href="{% url 'task-update' task.pk %}">Update</a></td>                        
                        <td><a href="{% url 'task-delete' task.pk %}">Delete</a></td>                        
                    </tr>
                </div>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>