{% extends 'base.html' %}

{% load static %}
{% block bootstrap5_title %}Tareas{% endblock %}
{% block body_class %}task-list-page{% endblock %}

{% block content %}
<div class="container">
    <!-- Botón Add Task -->
    <div class="row mb-3">        
        <div class="col text-start">
            <br>
            <a href="{% url 'task-create' %}" class="btn btn-primary">Agregar Tarea</a>
        </div>
    </div>
    <!-- Filtros de búsqueda -->
    <div class="row mb-3">
        <div class="col">
            <form method="get" action="{% url 'task-list' %}" class="row g-3 align-items-end">
                <!-- Buscar por Número de Tarea -->
                <div class="col-md-3">
                    <label for="taskNumber" class="form-label">Número de Tarea</label>
                    <input 
                        type="number" 
                        name="task_id" 
                        id="taskNumber" 
                        class="form-control" 
                        placeholder="Número de Tarea" 
                        value="{{ request.GET.task_id|default_if_none:'' }}">
                </div>
                <!-- Filtro por Prioridad -->
                <div class="col-md-3">
                    <label for="priority" class="form-label">Prioridad</label>
                    <select name="priority" id="priority" class="form-select">
                        <option value="">Seleccionar Prioridad</option>
                        <option value="B" {% if request.GET.priority == 'B' %}selected{% endif %}>Baja</option>
                        <option value="M" {% if request.GET.priority == 'M' %}selected{% endif %}>Media</option>
                        <option value="A" {% if request.GET.priority == 'A' %}selected{% endif %}>Alta</option>
                    </select>
                </div>
                <!-- Filtro por Fecha Límite -->
                <div class="col-md-3">
                    <label for="deadline" class="form-label">Fecha Límite</label>
                    <input 
                        type="date" 
                        name="deadline" 
                        id="deadline" 
                        class="form-control" 
                        value="{{ request.GET.deadline|default_if_none:'' }}">
                </div>
                <!-- Botón para Filtrar -->
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary w-100">Filtrar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Tabla responsive -->
    <div class="table-responsive">        
        <table class="table table-bordered table-bordered-black">                    
            <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Título</th>                    
                    <th>Prioridad</th>
                    <th>Fecha Límite</th>
                    <th>Completada</th>                    
                    <th>Acciones</th>                
                </tr>
            </thead>
            <tbody>
                {% if tasks %}
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.id }}</td>
                            <td>{{ task.title }}</td>                    
                            <td>{{ task.get_priority_display }}</td>
                            <td>{{ task.deadline }}</td>                    
                            <td>{% if task.status %}Sí{% else %}No{% endif %}</td>                        
                            <td class="text-center"> 
                                <div class="btn-group" role="group">
                                    <a href="{% url 'task-detail' task.pk %}" class="btn btn-sm btn-info">Detalle</a>
                                    <a href="{% url 'task-update' task.pk %}" class="btn btn-sm btn-warning">Actualizar</a>                                
                                    <a href="" class="btn btn-sm btn-danger deleteTaskBtn" data-url="{% url 'task-delete' task.pk %}">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">No se encontraron resultados.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script type="text/javascript" src="{% static 'core/js/alerts.js' %}"></script>
{% endblock %}