{% extends 'bootstrap.html' %}

{% load bootstrap5 %}
{% load static %}

{% block bootstrap5_content %}
    <head>        
        <!-- Estilos -->
        {% comment %} 
        <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'core/css/main.css' %}" rel="stylesheet"> 
        {% endcomment %}
        <!-- Sweetify2 CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <!-- Sweetify2 JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <!-- Navegación -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
              <a class="navbar-brand" href="{% url 'index' %}">To Do App</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ned" aria-controls="ned" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="ned">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'task-list' %}">Tareas</a>
                  </li>                  
                </ul>                
              </div>
            </div>
        </nav>
        <!-- Contenido -->
        {% block content %}{% endblock content%}
              
        {% load sweetify %}
        {% sweetify %}

        <!-- Alerts JavaScript -->
        <script type="text/javascript" src="{% static 'core/js/alerts.js' %}"></script>
        <!-- Javascript -->
        <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'core/js/main.js' %}"></script>

        <!-- JQuery 3.7.0 -->    
        {% comment %} <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script> {% endcomment %}

    </body>
{% endblock %}