<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
</head>
<body>
    <form method="POST" action="{% url 'task-create' %}">
        {% csrf_token %}
        {{ form.as_p}}
        {% comment %} <div class="form-group">
            <label for="titleInput">Título</label>
            {{form.title}}
        </div>
        <div class="form-group">
            <label  for="descriptionInput">Descripción</label>
            {{form.description}}
        </div>
        <div class="form-group">
            <label  for="deadlineInput">Fecha Límite</label>
            {{form.deadline}}
        </div>
        <div class="form-group">
            <label  for="priorityInput">Prioridad</label>
            {{form.priority}}
        </div>
        <div class="form-group">
            <label  for="statusInput">Estado</label>
            {{form.status}}
        </div> {% endcomment %}
        <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
</body>
</html>